/* You can add global styles to this file, and also import other style files */
.header {
    position: fixed;
    background-color: #0000001a;
    backdrop-filter: blur(30px);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 100;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    margin: 0 81.5px;
    padding: 0 20px;
    box-sizing: border-box;
}

.header_logos {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    min-width: 325px;
}

.header_logos--mobile {
    display: none;
}


.header__nav-item {
    padding: 1rem 2.5rem;
    color: #ffffffbf;
    font-size: 1.125rem;
    line-height: 1;
    cursor: pointer;
    transition: color .15s;
    text-decoration: none;
}

.header__nav-list-with-dropdown:hover .header__dropdown {
    height: auto;
    overflow: visible;
    pointer-events: auto;
    opacity: 1;
}
.header__dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: calc(100% - 1rem);
    z-index: 1;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.header__dropdown-content {
    position: absolute;
    left: 0;
    transition: transform .15s;
    overflow: hidden;
}

.header__right-side {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.25rem;
    min-width: 325px;
}

.header__container-language-switcher .header__button--language-switcher {
    min-width: 40px !important;
}

.header__container-language-switcher .header__popup-language {
    display: grid;
    opacity: 1;
    position: absolute;
    z-index: 10;
    margin: 4px 18px 0 -16px;
    padding: 8px;
    border-radius: 8px;
    background: rgb(49, 49, 60);
    flex-direction: column;
}
/* 
@media (max-width: 991.98px){

.bars .bars__bar:nth-child(2):before {
    transform: translateY(-5px) rotate(-45deg);
}}

@media (max-width: 991.98px){
.bars .bars__bar:nth-child(1):before{
    transform: translateY(6px) rotate(45deg);
}} */

.header_logos img {
    display: flex;
}

.dust-button-filled.dust-button--cancel-transparent {
    color: #d8d8e8;
}

.dust-button--medium {
    min-width: 230px;
    min-height: 3.125rem;
}

.dust-button__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
}

.dust-button {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    -webkit-text-decoration: navajowhite;
    text-decoration: navajowhite;
    vertical-align: baseline;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
    transition: background-color .15s ease;
    min-width: 190px;
    padding: 0 1.094rem;
    margin: 0;
    border-radius: 0.75rem;
    color: inherit;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header__button--sign-in {
    min-width: 112px !important;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;

    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.dust-button-filled.dust-button--cancel-transparent:before {
    background-color: #ffffff0d;
}

.dust-button-filled:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 180%;
    content: "";
    z-index: -1;
    transition: width .15s, background-color .15s;
}

button:not(:disabled) {
    cursor: pointer;
}

.explore-dropdown__item:hover .explore-dropdown__item-title{
    color: #c8c8db;
}

.explore-dropdown__item:hover .explore-dropdown__item-icon svg rect {
    stroke: transparent;
    fill: #ffffff08;
}

.explore-dropdown__item:hover .explore-dropdown__item-icon svg path {
    fill: #a9a9c2;
}

.explore-dropdown__item:not(.explore-dropdown__item--blog):hover {
    background-color: #ffffff05;
}

.header__nav-list,
.header__nav-list-with-dropdown {
    display: flex;
    align-items: center;
}

.header__dropdown-background {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.25rem;
    background-color: #22222d;
    z-index: -1;
    transition: transform .25s;
}

.header__dropdown-content-item {
    opacity: 1;
    height: auto;
    transition: transform .25s,opacity .15s;
    pointer-events: auto;
}

.header__container-language-switcher .header__popup-language-item {
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color .15s;
}

.header__nav-item:hover {
    color: #ffffffff;
}

.header__button--sign-up {
    min-width: 154px !important;
}
.header__bars, .header__container-language-switcher_mobile {
    display: none;
}

.header__container-language-switcher .header__popup-language-item:hover {
    background: rgba(255,255,255,.03);
    border-radius: 8px;
}
.explore-dropdown__item {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 1.25rem;
    transition: background-color .15s;
    border-radius: 10px;
}

.explore-dropdown__item-icon {
    position: relative;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 0;
}

.explore-dropdown__blog {
    display: block;
}

.explore-dropdown__item-bg {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: 110% 110%;
    background-repeat: no-repeat;
    transition: background-size .25s;
    z-index: -1;
}

.explore-dropdown__item-title {
    font-size: 1.125rem;
    font-weight: 500;
    color: #a5a5b8;
    transition: color .15s;
}

.explore-dropdown__item-subtitle {
    font-size: .875rem;
    color: #7e7e94;
}

.explore-dropdown__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 1.25rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.explore-dropdown__item--blog {
    border-radius: 0 0 10px 10px;
    padding: 1.875rem;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1.5px solid rgba(255,255,255,.03);
    z-index: 0;
}

@media (max-width: 1279.98px){
.header__nav-item {
    padding-left: 20px;
    padding-right: 20px;
}}

@media (max-width: 991.98px){
.explore-dropdown__item-subtitle {
    font-size: 12px;
    line-height: 1.2;
}}


@media (max-width: 991.98px){
.explore-dropdown__item-title {
    font-size: 14px;
}
}
@media (max-width: 991.98px){
.header__dropdown-background[style]
{
    transform: translate(236.5px, 0px);
    width: 331px!important;
    height: 290px!important;
}}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}
@media screen and (max-width: 992px){
.container {
    max-width: 850px;
    margin: 0 auto;
}}
@media screen and (max-width: 1280px) and (min-width: 992px) {
.container {
    max-width: 952px;
    margin: 0 auto;
}}

@media (max-width: 1279.98px){
.header__buttons {
    min-width: 265px;
    gap: 10px;
}}

@media (max-width: 991.98px){
.header {
    background-color: #22222d;
    padding: 13px 0;
}}

@media screen and (max-width: 992px){
.header_logos {
    display: none;
}}
@media screen and (max-width: 992px){
.header__buttons, .header_logos {
    min-width: 190px;
}}
@media (max-width: 1279.98px){
.header_logos {
    min-width: 265px;
}}
@media (max-width: 1279.98px){
.header_logos a img {
    max-width: 120px;
}}
@media screen and (max-width: 992px){
.header_logos--mobile {
    display: flex;
}}

@media (max-width: 991.98px){
.header_logos {
    gap: 9px;
}}

@media (max-width: 991.98px){
.header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 500px;
    opacity: 0;
    background-color: #22222d;
    z-index: 10;
    transition: max-height .2s,opacity .15s;
}}
@media (max-width: 991.98px){
.header__button.dust-button {
    min-height: 28px;
    border-radius: 5px;
    font-size: 12px;
}}

@media (max-width: 991.98px){
.header__nav-list {
    padding: 0 8px 8px;
    justify-content: center;
}}
@media (max-width: 991.98px){
.header__nav-item {
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
}}

@media (max-width: 991.98px){
.header__dropdown {
    top: 100%;
}}
@media (max-width: 991.98px){
.header__dropdown-background, .header__dropdown-content {
    border-radius: 0 0 20px 20px;
    transform: none!important;
}}
@media (max-width: 991.98px){
.explore-dropdown__items {
    padding: 0;
    grid-template-columns: 1fr;
    grid-gap: 0;
}}

@media (max-width: 991.98px){
.explore-dropdown__item--blog {
    padding: 12px 16px;
}
}
@media (max-width: 991.98px){
.explore-dropdown__item {
    padding: 8px 16px;
    border-radius: 0;
}}
@media (max-width: 991.98px){
.header__right-side {
    flex-direction: row-reverse;
}}
@media (max-width: 991.98px){
.bars {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 10px;
}}
@media (max-width: 991.98px){
.bars__bar {
    width: 100%;
    height: 1px;
    background-color: #dfdfeb;
    transition: transform .15s ease-in-out;
    transform-origin: center;
}}
@media (max-width: 991.98px){
.header_logos, .header__buttons {
    min-width: initial;
}}

@media (max-width: 991.98px){
.header__button--sign-in {
    min-width: 60px!important;
}}

@media (max-width: 991.98px){
.header__button-content {
    font-size: 10px;
}}

@media (max-width: 991.98px){
.header__button--sign-up {
min-width: 100px!important;
}}

.open {
    opacity: 1;
}